CotaKT13022019.rar
Equivalencias.xlsx
COTA_VARIABLES_EQUIVALENCIAS_COMPOSICIONES.xls
FRANCESCOTA.PAP
Interfaz Pago Banco Frances(completo).mdb
Proveedores MP_ ok.bak
ARG Formato Pago a Proveedores v16MP.docx
PAPFRA.txt